@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

html, body, .container {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text], input[type=password],input[type="number"], input[type="url"] {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* code for skipping navigation, l14: makes links visible on focus: Code adapted from
from: https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ */

/*
Start of Inserted css test
*/
@media only screen and (min-width: 1360px) {
  body {
    font-size: 1.2rem!important;
  }
  .nav > ul > li > a {
    color: #222;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 0.888rem!important;
    margin: 0;
  /*  height: 50px; */
    line-height: 50px;
    display: block;
    text-shadow: 0 -1px #fff;
    transition: background 0.15s ease;
  }
}

.vertmove {
    position:relative; /* To animate the `top` position */
    margin:10% auto;
}

@media only screen and (max-width: 1360px) {
  body {
    font-size: 1.1rem!important;
  }
  nav > ul > li > a {
    color: #222;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 0.85rem!important;
    margin: 0;
  /*  height: 50px; */
    line-height: 50px;
    display: block;
    text-shadow: 0 -1px #fff;
    transition: background 0.15s ease;
  }
}
@media only screen and (max-width: 1280px) {
  body {
    font-size: 1rem!important;
  }
  nav > ul > li > a {
    color: #222;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 0.82rem!important;
    margin: 0;
  /*  height: 50px; */
    line-height: 50px;
    display: block;
    text-shadow: 0 -1px #fff;
    transition: background 0.15s ease;
  }
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 0.95rem!important;
  }
  nav > ul > li > a {
    color: #222;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 0.9rem!important;
    margin: 0;
  /*  height: 50px; */
    line-height: 50px;
    display: block;
    text-shadow: 0 -1px #fff;
    transition: background 0.15s ease;
  }
}
@media only screen and (max-width: 750px) {
  body {
    font-size: 0.85rem!important;
  }
  nav > ul > li > a {
    color: #222;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 0.88rem!important;
    margin: 0;
  /*  height: 50px; */
    line-height: 50px;
    display: block;
    text-shadow: 0 -1px #fff;
    transition: background 0.15s ease;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.82rem!important;
  }
  nav > ul > li > a {
    color: #222;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 0.82rem!important;
    margin: 0;
  /*  height: 50px; */
    line-height: 50px;
    display: block;
    text-shadow: 0 -1px #fff;
    transition: background 0.15s ease;
  }
}




@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width: 100%;
  background-color: black;
}

.logoutBtn {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -10%;
  bottom: -2%;
  overflow: hidden;
  letter-spacing: 0.5%;
  opacity: .9;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

.logText  {
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  overflow: hidden;
  letter-spacing: 0.5%;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

.buttonLog {
	text-decoration: none;
  height: 40px;
	float: right;
  padding: 1%;
  margin: 3%;
  color: white;
  width: 6%;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

.buttonLog:hover {
  width: 30%;
  height: 100%
}

.buttonLog:hover .logout .logText{
  opacity: .9;
}
.buttonLog:hover .buttonLog{
  height: auto;
}
.buttonLog:hover .logText{
  opacity: .9;
}

.buttonLog {
  text-decoration: none;
}


form > div label {
  font-weight: bold;
}

.footer-link:hover {
  outline-style: solid;
  outline-color: yellow;
}
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 1rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  transition: 0.5s;
}

.reveal-if-active label {
  display: block;
  margin: 0 0 1% 0;
}
#daySelect{
  width:100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#json-table{
  width:100%;
}

.reveal-if-active input[type="text"] {
  width: 100%;
}

input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100%;
  padding: 0px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}
form {
  max-width: 500px;
  margin: 20px auto;
}

form > div {
  margin: 0 0 20px 0;
}


form > div > div {
  padding: 5px;
}

form > h4 {
  color: White;
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  border-bottom: 2px solid green;
}

body {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

/*end of css test*/
.skipnav { text-align: left; }
  .skipnav a { left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999; }
  .skipnav a:focus, .skipnav a:active { color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999; }

.skip-link{
  padding: 1em;
  position: relative;
  left: 0;
  top: 10;
  width: auto;
  height: auto;
  z-index: 1000;
  color: black;
}

.bg > h1{
color: white;
font-family: Montserrat, sans-serif;
}
.bg > #desc{
color: white;
font-family: Montserrat, sans-serif;
font-style: bold;
}
.skip-link:focus {
  color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
/*General content*/
.nav {
  background-color: #efefef;
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  transition: top 0.15s ease-out, border-radius 0.15s ease-out;
}

.nav2 {
  background-color: #efefef;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  float:  right;
  top: 0px;
  width:50%;
  transition: top 0.15s ease-out, border-radius 0.15s ease-out;
}
.nav.active {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 20px;
  left: 5%;
  right:5%;
  width:90%;
  float: left;
}
.nav2.active {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 20px;
  left: 50%;
  width:47.5%;
  right:2.5%;
  float: right;

}
.form > input:active, input:focus{
outline-style: solid;
outline-color:orange;
}
.nav2 > ul {
  width: 50%;
  padding: 0 20px;
  float: right;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.nav2 > ul > li.active {
  float: left;
  display: inline-block;
  width: 25%;
}

.nav2 > ul > li. {
  float: left;
  display: inline-block;
}

.nav2 > ul > li > a {
  color: #222;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  height: 50px;
  font-size: 1.1rem;
  background-color: #efefef;
  line-height: 50px;
  display: block;
  text-shadow: 0 -1px #fff;
  transition: background 0.15s ease;
}

.nav2 > ul > li > a:hover {
  background-color: #dfdfdf;
}

.nav2.active > ul > li > a:hover {
  background-color: rgba(180, 180, 180, 0.7);
}
.nav.active {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 20px;
  left: 5%;
  right: 5%;
  width: 90%;
  float: left;

}

.nav > ul {
  width: 100%;
  padding: 0 0 20px;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.nav > ul > li {
  float: left;
  display: inline-block;
  width: 16%;
}
#btn2-exp{
  right:0;
}
.nav > ul > li > a {
  color: #222;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  margin: 0;
/*  height: 50px; */
  line-height: 50px;
  display: block;
  text-shadow: 0 -1px #fff;
  transition: background 0.15s ease;
}

.nav > ul > li > a:hover {
  background-color: #dfdfdf;
}

.nav.active > ul > li > a:hover {
  background-color: rgba(180, 180, 180, 0.7);
}

.bg {
  width: 100%;
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.bg > div {
  color: white;
  font-family: Montserrat, sans-serif;
  text-align: center;
  width: 100%;
  padding: 30px;
  text-shadow: 0 -1px #222;
}

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.62)), url(https://c1.staticflickr.com/5/4032/4687263435_336db2a40c_b.jpg);
}

#about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.62)), url(https://images.unsplash.com/photo-1528192349722-04f1f48b42f1?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=bdaf3dd8c9443bda31acd408cb338ed4);
}

#services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.62)), url(https://images.unsplash.com/photo-1521453159160-6b5c58c24591?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=cf68541f3f1fd0812bfc120e6c15f284);
}

#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.62)), url(https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=6e7632177f5d243c31319268f10d73d9);
}

.newsletter {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-image: linear-gradient(#002db5, #203be8);
  height: 120px;
  box-sizing: border-box;
  padding: 0 50px;
  box-shadow: 0 0 30px 10px #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.newsletter > p {
  width: 100%;
  margin: 0;
}

.newsletter > div {
  margin-top: 15px;
}
form > input > #email{
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #8597ff;
  width: 200px;
  border: none;
  padding: 10px;
  transition: background-color 0.15s, color 0.15s;
}
label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}
form > div{
  text-align: left;
  color: white;
  font-family: Montserrat, sans-serif;
}
.newsletter > div > input {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #8597ff;
  width: 200px;
  border: none;
  padding: 10px;
  transition: background-color 0.15s, color 0.15s;
}

.newsletter > div > input:focus {
  color: #000;
  background-color: #fff;
}

.newsletter > div > button {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #000599;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.15s;
}

.newsletter > div > button:hover {
  background-color: #000470;
  cursor: pointer;
}

.newsletter > div > button:active {
  background-color: #0016a8;
}
/* footer start code insert*/
a {
  background-color: #2a80b9;
  background: transparent;
}
a:active,
a:hover {
  outline: yellow;
}
#btn-exp{
  padding: 0.6em 0.8em;

}
/*code for button */
.button{
  display: inline-block;
  transform: translateY(2px);
  padding: 0.813em 1.25em;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline:0;
  color: white;
  background-color: #2d3e50;
  border: none;
  border-radius: 0.9375rem;
  box-shadow: 0 3px #efefef;
}
.button:focus, .button:hover {
    background-color:#3e8e41;
    outline-style: line;
    outline-width: thick;
    outline-color: pink;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.footer-link {
  position: relative;
  display: block;
  font: "Open Sans", sans-serif;
  margin-bottom: 25px;
  clear: left;
  color: #fff;
  text-decoration: none;
}

/* CSS code for hiding the modal */
.modal {
    /*display: none;  Hidden by default
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    /*height: 100%;  Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
/*position: relative;
    background-color: green;
    margin: 15% auto; /* 15% from the top and centered
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
background-color: cornflowerblue;
position: relative;
border: 1px solid #888;
}
.makegreen{
  background-color: blue;
  width:100%;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.div-foot {
  width: 25%;
}

.div-block-3.extended {
  width: 24%;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 20px;

  color: #fff;
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
}
/* footer end code insert*/
.footer {
  position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
padding: 5% 10%;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
background-color: #000470;
}
.footer-form-done{
display: none;
padding: 20px;
text-align: center;
background-color: #dddddd;
}
.footer-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}
.footer > span:first-child {
  font-weight: bold;
  margin-bottom: 25px;
}

.footer > span:last-child {
  margin-top: 25px;
}

.footer > span {
  color: #222;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.footer > span > a {
  color: #888;
  text-decoration: none;
}

.footer > span > a:hover {
  text-decoration: underline;
}
